<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Mangadict 📚</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  {# <link rel="stylesheet" href="style.css">
  <script src="script.js"></script> #}
</head>
    <body>
        <h1>Hello ! ✅</h1>
        <a href={{ path('app_pins_create') }}>Create Pin</a>
        {% for pin in pins %}
            <article>
                <h1>{{ pin.title }}</h1>
                <p>{{ pin.description }}</p>
            </article>
        {% endfor %}
    </body>
</html>
